<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Oriol Beltrán Escofet
      </h1>
      <p class="py-6">
        Amb més de 20 anys d'experiència en ciclisme de competició, Oriol combina el coneixement pràctic amb una formació especialitzada per oferir entrenaments d'alt nivell. 
        A més, porta més de 5 anys entrenant esportistes de diferents nivells amb resultats demostrats.
      </p>
      <ul class="steps steps-vertical">
        <li data-content="&#9733;" class="step step-primary">RegistCurso Entrenador en Deportes de Resistencia - Nivel Inicial (2017)</li>
        <li data-content="&#9733;" class="step step-primary">Curso Entrenador en Deportes de Resistencia - Nivel Intermedio (2018)</li>
        <li data-content="&#9733;" class="step step-primary">PurcCurso Entrenador en Deportes de Resistencia - Nivel Experto (2019)</li>
        <li data-content="&#9733;" class="step step-primary">Curso Experto en Entrenamiento por Potencia (2019)</li>
        <li data-content="&#9733;" class="step step-primary">Curso Experto en Biomecánica aplicada al ciclismo (2020)</li>
        <li data-content="&#9733;" class="step step-primary">Curso Especialista en Análisis de Datos con WKO5</li>

      </ul>
    </div>
  </div>
</div>