<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">Contacte</legend>
    
      <label class="label">Email</label>
      <input type="email" class="input" placeholder="Email" />
    
      <label class="label">Desc</label>
      <input type="password" class="input" placeholder="desc" />
    
      <button class="btn btn-neutral mt-4">Eviar</button>
    </fieldset>
  </div>
</div>