<div
  class="hero min-h-screen"
  style="background-image: url(https://github.com/karimlema9/Escofet-Training/blob/main/Imagen%20de%20WhatsApp%202025-07-03%20a%20las%2009.16.31_dbc290dc-Photoroom.png?raw=true);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Escofet Training</h1>
      <p class="mb-5">
        Entrenament amb Criteri
        <br>
        Rendiment amb Sentit
      </p>
      <button class="btn btn-primary">Get Started</button>
      <div class="stats shadow">
        <div class="stat place-items-center">
          <div class="stat-title text-secondary">Alumnes</div>
          <div class="stat-value text-secondary">+50</div>
          <div class="stat-desc text-secondary">Alumnes</div>
        </div>
      
        <div class="stat place-items-center">
          <div class="stat-title">Satisfacció</div>
          <div class="stat-value">+50%</div>
          <div class="stat-desc"></div>
        </div>
      
        <div class="stat place-items-center">
          <div class="stat-title">New Registers</div>
          <div class="stat-value">1,200</div>
          <div class="stat-desc">↘︎ 90 (14%)</div>
        </div>
      </div>
    </div>
  </div>
</div>
